
@{
    ViewData["Title"] = "DonationScore";
}

<h1>DonationScore</h1>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Total
        </th>
    </tr>
    <tr>
        <td>
            121212
        </td>
        <td>
            Billy Harrington
        </td>
        <td>
            300$
        </td>
    </tr>
    <tr>
        <td>
            12122121212
        </td>
        <td>
            E. Rybin
        </td>
        <td>
            40грн.
        </td>
    </tr>
    <tr>
        <td>
            121211122222
        </td>
        <td>
            Incognito Semenchuk
        </td>
        <td>
            1грн.
        </td>
    </tr>
</table>