@{
    ViewData["Title"] = "Home Page";
}
@model  IEnumerable<CharityAppBackend.Models.Post>

@foreach(var post in Model)
{
    <div class="card w-50 mx-auto mt-3">
        <div class="card-img text-center">
            <img class="w-100" src="@post.ImgPath" alt="Alternate Text" />
        </div>      
        <div class="card-body text-center">
            <h2>@post.Name </h2>
            <p>
                @post.Description
            </p>
        </div>      
    </div>
}
