@{
    ViewData["Title"] = "Home Page";
}
@model  IEnumerable<CharityAppBackend.Models.Post>

@foreach(var post in Model)
{
    <div class="card align-content-center">
        <div class="card-img">
            <img src="@post.ImgPath" alt="Alternate Text" />
        </div>      
        <div class="card-body">
            <h2>@post.Name </h2>
            <p>
                @post.Description
            </p>
        </div>      
    </div>
}
